@model RegisterViewModel
<div class="col-xs-12  col-md-12">
    <div class="boxed  push-down-45">
        <div class="row">
            <div class="col-xs-10  col-xs-offset-1">
                <div class="contact">
                    <h2>Login</h2>
                    <form asp-controller="User" asp-action="Register" method="post">
                        <div class="row">
                            <div asp-validation-summary="ModelOnly" class="text-danger" ></div>
                            <div class="col-xs-6  col-md-6">


                                <div class="col-xs-12">
                                    <input asp-for="UserName" placeholder="Adı *">
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>

                                <div class="col-xs-12">
                                    <input asp-for="UserSurname" placeholder="Soyadı *">
                                    <span asp-validation-for="UserSurname" class="text-danger"></span>

                                </div>

                                <div class="col-xs-12">
                                    <input  asp-for="UserEmail" placeholder="E-mail *">
                                    <span asp-validation-for="UserEmail" class="text-danger"></span>

                                </div>

                                <div class="col-xs-12">
                                    <input  asp-for="Password" placeholder="Şifre *">
                                    <span asp-validation-for="Password" class="text-danger"></span>

                                </div>

                                <div class="col-xs-12">
                                    <input asp-for="RePassword" placeholder="Şifre Tekrar *">
                                    <span asp-validation-for="RePassword" class="text-danger"></span>

                                </div>

                            </div>

                            <div class="col-xs-6  col-md-6 ">
                                <img height="125" width="125" src="~/images/login.png" />
                            </div>
                            
                        </div>
                        <button class="btn btn-info">Giriş</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>