<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ProteusThemes">
    <link rel="shortcut icon" href="~/lib/assets/images/logo.png">
    <title>Readable - HTML Template</title>

    <!-- Custom styles for this template -->

    <link rel="stylesheet" href="~/lib/assets/stylesheets/09fac9c5.main.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.bootstrap4.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.bootstrap4.css" />

    <!-- Google Fonts -->
    <script type="text/javascript">
        WebFontConfig = {
            google: {
                families: ['Open+Sans:300,400,700:latin', 'Lato:700,900:latin']
            }
        };
        (function () {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
                '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>
</head>
<body>

    <!-- header -->
    <header class="header  push-down-45">
        <div class="container">
            <div class="logo  pull-left">
                <a href="/">
                    <img src="~/lib/assets/images/logo.png" alt="Logo" width="352" height="140">
                </a>
            </div>

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#readable-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <nav class="navbar  navbar-default" role="navigation">

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse  navbar-collapse" id="readable-navbar-collapse">
                    <ul class="navigation">
                        <li class="dropdown  active">
                            <a href="/" class="dropdown-toggle" data-toggle="dropdown">Anasayfa</a>
                           
                        </li>
                        
                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>
            <div class="hidden-xs  hidden-sm">
                
                <a href="#" class="search__container  js--toggle-search-mode"> <span class="glyphicon  glyphicon-search"></span>  </a>
                <div class="social">
                    <a href="#" class="social__container"> <span class="glyphicon  glyphicon-user"></span>  </a>
                    
                    <ul class="social__dropdown">
                        @if (User.Identity!.IsAuthenticated)
                        {
                           
                            <li><a href="/User/profil/@User.Identity.Name" class="social__container">@User.Identity.Name</a></li>
                        <li><a href="/Post/AddBlog" class="social__container">Blog Yaz</a></li>
                        <li><a href="/User/LogOut" class="social__container">Çıkış Yap</a></li>
                        }
                        else
                        {                           
                        <li><a href="/User/Login"  class="social__container">Giriş Yap</a></li>
                        <li><a href="/User/Register"  class="social__container">Kayıt Yap</a></li>
                        }
                    </ul>
                </div>
                @if (User.Identity!.IsAuthenticated)
                {
                    <a href="/Post/List" class="social__container"> <span class="glyphicon  glyphicon-folder-open"></span>  </a>
                }
            </div>
        </div>
    </header>

    <!-- Search - Open panel -->
    <div class="search-panel">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <form action="search-results.html">
                        <input type="text" class="search-panel__form  js--search-panel-text" placeholder="Begin typing for search">
                        <p class="search-panel__text">Press enter to see results or esc to cancel.</p>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        @RenderBody()
    </div>



    <footer class="footer">
        @* <div class="container">
            <div class="col-xs-12  col-md-3">
                <div class="widget-about  push-down-30">
                    <img src="~/lib/assets/images/logo.png" alt="logo" width="176" height="70">
                    <br />
                    <span class="footer__text">we focus on highly customizable, fast and optimized themes for variety of popular platform like wordpress and magento.</span>
                    <br />
                    <br />
                    <div class="social-icons  widget-social-icons">
                        <a href="#" class="social-icons__container"> <span class="zocial-facebook"></span>  </a>
                        <a href="#" class="social-icons__container"> <span class="zocial-twitter"></span>  </a>
                        <a href="#" class="social-icons__container"> <span class="zocial-youtube"></span>  </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12  col-md-3">
                <div class="tags  widget-tags">
                    <h6>tags</h6>
                    <hr>
                    <a href="#" class="tags__link">tech</a>
                    <a href="#" class="tags__link">web</a>
                    <a href="#" class="tags__link">uı/ux</a>
                    <a href="#" class="tags__link">tutorials</a>
                    <a href="#" class="tags__link">workflow</a>
                </div>
            </div>
            <div class="col-xs-12  col-md-3">
                <nav class="widget-navigation  push-down-30">
                    <h6>navigation</h6>
                    <hr>
                    <ul class="navigation">
                        <li> <a href="index.html">home</a>  </li>
                        <li> <a href="single-post.html">post formats</a>  </li>
                        <li> <a href="elements.html">elements</a>  </li>
                        <li> <a href="about-us.html">about</a>  </li>
                        <li> <a href="contact.html">contact</a>  </li>
                    </ul>
                </nav>
            </div>
            <div class="col-xs-12  col-md-3">
                <div class="widget-contact  push-down-30">
                    <h6>contact us</h6>
                    <hr>
                    <span class="widget-contact__text">
                        <span class="widget-contact__title">readable ıtd.</span>
                        <br>tehnološki park 19,
                        <br>1000 ljubljana
                        <br>slovenia
                    </span>
                </div>
            </div>
        </div> *@
    </footer>
    <footer class="copyrights">
        <div class="container">
            <div class="row">
                <div class="col-xs-12  col-sm-6">
                    <a href="">Kadir Babaoglu
                </div>
                <div class="col-xs-12  col-sm-6">
                    <div class="copyrights--right">
                        Made by
                        <a href="http://proteusthemes.com" target="_blank">ProteusThemes</a> .
                    </div>
                </div>
            </div>
        </div>
    </footer>
    @RenderSection("scripts", required: false)
    <script src="~/lib/assets/js/main.js"></script>
    

   
</body>
</html>